<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pictitab.ui"
    android:versionCode="27"
    android:versionName="3.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainEducatorActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ChildrenAdministration"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChildAdministrationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SelectChildActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectGrammarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectCategoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectLexiconActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GrammarAdministrationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".LexiconAdministrationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CategoryAdministrationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChildCommunicationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RuleAdministrationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectPictureActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChildLogActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>